.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: center;
}

mat-list {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px 0;
}

mat-list-item {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

h3 {
  margin-bottom: 8px;
}

.rendu,
.nonRendu {
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
}