<!--<main class="container" *ngIf="!formVisible">-->
<main class="container">
    <div class="ajouterBtn">
        <a routerLink="/add">
            <button class="ajouterBtn" mat-flat-button color="primary">
                Ajouter Devoir
            </button>
        </a>
    </div>
    <mat-list *ngFor="let assignment of assignments">
        <nav>
            <a routerLink="/assignment/{{assignment.id}}">
                <h3 mat subheader>{{assignment.dateDeRendu | date }}</h3>
                <mat-list-item>
                    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
                        Devoir intitulé {{assignment.nom}} a été rendu.
                    </p>
                    <mat-divider></mat-divider>
                    <ng-template #nonsoumis>
                        Le devoir {{assignment.nom}} n'a pas été rendu.
                    </ng-template>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
        </nav>
    </mat-list>
</main>
<!-- (click)="onAddAssignmentBtnClick()" dans le 12-->
<!--(click)="assignmentClique(assignment)" dans mat list item 21-->
<!--<app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>-->
<!--
<app-add-assignment *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)"></app-add-assignment>
-->